<div role="tabpanel" class="form-contenttab tab-pane" id="step7">
  <div class="row">
    <div class="col-md-12">
      <div class="container-fluid">
        <div class="row">
          {{ include('@Modules/mytabcategories/myviews/forms/form_categories2.html.twig', {
            'categories2Form' : categories2Form,
            'productId': productId
            })
          }}
        </div>
      </div>
    </div>
  </div>
</div>